In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
loan_df = pd.read_csv('train.csv')

In [3]:
loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
#drop unnessery columns 
def removeUnrequireColumns(df):
    df = df.drop(['Loan_ID','Married','Dependents','Self_Employed','ApplicantIncome',
              'CoapplicantIncome','Loan_Amount_Term'],axis=1)
    return df
new_loan_df = removeUnrequireColumns(loan_df)

In [5]:
new_loan_df.head()

  Gender     Education  LoanAmount  Credit_History Property_Area Loan_Status
0   Male      Graduate         NaN             1.0         Urban           Y
1   Male      Graduate       128.0             1.0         Rural           N
2   Male      Graduate        66.0             1.0         Urban           Y
3   Male  Not Graduate       120.0             1.0         Urban           Y
4   Male      Graduate       141.0             1.0         Urban           Y

In [6]:
new_loan_df.isnull().sum()

Gender            13
Education          0
LoanAmount        22
Credit_History    50
Property_Area      0
Loan_Status        0
dtype: int64

In [7]:
# remove all Null Val
def replaceAllNullField(df):
    df.Gender= df['Gender'].fillna('Male')
    df.LoanAmount= df.LoanAmount.fillna(df.LoanAmount.mean())
    df.Credit_History= df.Credit_History.fillna(round(df.Credit_History.mean()))

In [8]:
replaceAllNullField(new_loan_df)

In [9]:
new_loan_df.isnull().sum()

Gender            0
Education         0
LoanAmount        0
Credit_History    0
Property_Area     0
Loan_Status       0
dtype: int64

In [10]:
# convert string values into a number

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:
def stringToNumberConverter(df,noOfColumns):
    for i in range(0, noOfColumns):
        df[:,i] = le.fit_transform(df[:,i])

In [14]:
from sklearn.model_selection import train_test_split
y= new_loan_df.iloc[:,5].values
x= new_loan_df.iloc[:,:5].values
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.33, random_state=8)

In [15]:
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)
stringToNumberConverter(X_train,5)
stringToNumberConverter(X_test,5)

# apply Logistics regression

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
lr = LogisticRegression()

In [18]:
lr.fit(X_train,y_train)

E:\pyhtontextfile\ANACONDA1\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [19]:
y_predict = lr.predict(X_test)

In [20]:
y_predict

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1])

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(y_predict,y_test)

0.8620689655172413

In [23]:
from random import randint
type(X_test)

numpy.ndarray

In [24]:
def showfinalAccurateResult(l):
    global X_test,y_test
    X_test = np.append(X_test,np.array([l]),axis=0)
    y_test = np.append(y_test,np.array(randint(0,1)))
#     print(len(x_test))
    lr.predict(X_test)
    return accuracy_score(lr.predict(X_test),y_test)

In [25]:
showfinalAccurateResult([1  , 1, 267,   5,   0])

0.8578431372549019

In [26]:
# set(new_loan_df['Property_Area'].values)

{'Rural', 'Semiurban', 'Urban'}

In [27]:
# set(new_loan_df['Education'].values)

{'Graduate', 'Not Graduate'}