In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
loan_df = pd.read_csv('train.csv')

In [3]:
loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
#drop unnessery columns 
def removeUnrequireColumns(df):
    df = df.drop(['Loan_ID','Married','Dependents','Self_Employed','ApplicantIncome',
              'CoapplicantIncome','Loan_Amount_Term'],axis=1)
    return df
new_loan_df = removeUnrequireColumns(loan_df)

In [5]:
new_loan_df.head()

  Gender     Education  LoanAmount  Credit_History Property_Area Loan_Status
0   Male      Graduate         NaN             1.0         Urban           Y
1   Male      Graduate       128.0             1.0         Rural           N
2   Male      Graduate        66.0             1.0         Urban           Y
3   Male  Not Graduate       120.0             1.0         Urban           Y
4   Male      Graduate       141.0             1.0         Urban           Y

In [6]:
new_loan_df.isnull().sum()

Gender            13
Education          0
LoanAmount        22
Credit_History    50
Property_Area      0
Loan_Status        0
dtype: int64

In [7]:
# remove all Null Val
def replaceAllNullField(df):
    df.Gender= df['Gender'].fillna('Male')
    df.LoanAmount= df.LoanAmount.fillna(df.LoanAmount.mean())
    df.Credit_History= df.Credit_History.fillna(round(df.Credit_History.mean()))

In [8]:
replaceAllNullField(new_loan_df)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
def stringToNumberConverter(df,noOfColumns):
    for i in range(0, noOfColumns):
        df[:,i] = le.fit_transform(df[:,i])

In [11]:
from sklearn.model_selection import train_test_split
y= new_loan_df.iloc[:,5].values
x= new_loan_df.iloc[:,:5].values
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.33, random_state=8)

In [12]:
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)
stringToNumberConverter(X_train,5)
stringToNumberConverter(X_test,5)

# Applying SVM

In [13]:
from sklearn import svm

In [14]:
clf = svm.SVC()

In [15]:
clf.fit(X_train,y_train)

E:\pyhtontextfile\ANACONDA1\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [16]:
y_pred = clf.predict(X_test)

In [17]:
# check The accuracy 
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(y_pred,y_test)

0.7438423645320197